<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="robots" content="noindex, nofollow" />
    <meta property="og:image" content="/images/my01.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="436" />
    <meta property="og:image:height" content="228" />
    <meta property="og:title" content="Wenwu 作品集" />
    <meta
      property="og:description"
      content="一位對程式有興趣的青年男子的作品"
    />
    <link rel="icon" href="/images/my01-square.jpg" type="image/x-icon" />
    <link href="/images/my01-square.jpg" rel="apple-touch-icon" />
    <title>Students Page</title>
    <link rel="stylesheet" href="/styles/student.css" />
  </head>
  <body>
    <header>
      <a href="/"><h1>Wenwu 作品集</h1></a>
    </header>

    <section id="studentsList">
      <h1>學生列表</h1>
      <ul>
        <% studentsData.forEach(student=>{%>
        <li><a href="/students/<%= student.id %> "><%= student.name%></a></li>
        <%}) %>
      </ul>
    </section>
    <br />
    <a id="toLastPage" href="/students/insert">點擊輸入資料</a>
    <a id="toLastPage" href="/">回首頁</a>
    <br />
    <br />
  </body>
</html>
