<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="noindex" />
    <meta name="googlebot" content="noindex" />
    <meta name="robots" content="noindex, nofollow" />
    <meta property="og:image" content="./images/my01.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="436" />
    <meta property="og:image:height" content="228" />
    <meta property="og:title" content="Wenwu 作品集" />
    <meta
      property="og:description"
      content="一位對程式有興趣的青年男子的作品"
    />
    <link rel="icon" href="./images/my01-square.jpg" type="image/x-icon" />
    <link href="./images/my01-square.jpg" rel="apple-touch-icon" />
    <title>Wenwu作品集</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <header>
      <a href="#"><h1>Wenwu 作品集</h1></a>
    </header>

    <main>
      <section id="project">
        <h2>特色項目</h2>
        <div id="cards">
          <div class="card">
            <a href="/numberToGuess/"
              ><img src="/images/p1-numberToGuess.png" alt="numberToGuess"
            /></a>
            <h3>猜數字小遊戲</h3>
            <p>隨機生成1個數字，從1~100的數字猜猜看</p>
          </div>

          <div class="card">
            <a href="/weather/"
              ><img src="/images/p2-weatherSearch.jpg" alt="weatherSearch"
            /></a>
            <h3>天氣搜尋</h3>
            <p>您可以將城市或國家/地區的名稱附加到 URL 末尾。</p>
          </div>

          <div class="card">
            <a href="/joke/"><img src="/images/p3-joke.png" alt="joke" /></a>
            <h3>笑話</h3>
            <p>查詢英文笑話</p>
          </div>

          <div class="card">
            <a href="/students/insert"
              ><img src="/images/p4-student.jpg" alt="students"
            /></a>
            <h3>學生資料庫</h3>
            <p>輸入內容、顯示內容</p>
          </div>

          <div class="card" id="temp">
            <a href="#temp"><img src="/images/p0-unseen.jpg" alt="unseen" /></a>
            <h3>看不到</h3>
            <p>我不知道這是甚麼內容</p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <h2 id="about-me">About Me</h2>
      <section>
        <div id="myPhoto">
          <a href="">
            <img src="/images/my01-square.jpg" alt="myPhoto" />
          </a>
        </div>
        <div id="description">
          <div id="myName"><h3>Wen Wu</h3></div>
          <p>一位對程式有興趣的青年男子的作品</p>
          <p>
            信箱：<a href="mailto:wenwu.me@gmail.com">wenwu.me@gmail.com</a>
          </p>
        </div>
      </section>
    </footer>
  </body>
</html>
