* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    a {
      text-decoration: none;
      color: white;
    }
  }

  main {
    text-align: center;
    padding: 20px;
    section[id="project"] {
      margin-bottom: 30px;
      h2 {
        margin-bottom: 20px;
      }
      div[id="cards"] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        div[class="card"] {
          border: 1px solid #ccc;
          border-radius: 9px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          margin: 5px 20px 10px 20px;
          margin-bottom: 10px;
          max-width: 300px;
          padding: 20px;
          // vertical-align: top;
          transition: all 0.75s;
          &:hover {
            transform: scale(1.1);
            margin-top: 15px;
            margin-bottom: 15px;
          }
          & img {
            max-height: 215px;
            max-width: 100%;
          }
          & h3 {
            font-size: 1.2em;
            margin-top: 10px;
          }
        }
      }
    }
  }
  footer {
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    padding: 20px 0rem 30px 0rem;
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      // max-width: 600px;
      div {
        margin: 0rem 2rem;
      }
      div[id="description"] {
        // max-width: 300px;
        div[id="myName"] {
          text-align: center;
          padding: 15px;
          margin: 5px 0px 8px 0px;
        }
        line-height: 1.5rem;
        p a {
          text-decoration: none;
          color: rgb(196, 151, 94);
          transition: all 0.8s ease;
        }
        p:hover,
        a:hover {
          background-color: #777;
          transform: scale(1.1);
          color: rgb(255, 255, 255);
        }
      }
      // div {
      //   display: inline-block;
      // }
      div[id="myPhoto"] {
        max-width: 300px;
        transition: all 0.8s;
        a {
          img {
            max-width: 100%;
            border-radius: 50%;
            box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
          }
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
